body{
    background-color: rgb(163, 163, 163);
}

.container{
    background-color: white;
    min-height: 100vh;
}
h1{
    padding: 0 0 20px 0;
}

label{
    width: 45px;
}


/* izbriši */
.back{
    background-color: brown;
}